{{#> main}}
{{#*inline "content"}}
<div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
   <div class="card-body px-4 py-3">
      <div class="row align-items-center">
         <div class="col-9">
            <h4 class="fw-semibold mb-8">{{#if disciplina}}Atualização{{else}}Novo{{/if}} Disciplina</h4>
            <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                  <li class="breadcrumb-item"> <a class="text-muted text-decoration-none" href="/">Home</a> </li>
                  <li class="breadcrumb-item" aria-current="page"> <a class="text-muted text-decoration-none"
                        href="/disciplinas">Disciplinas</a> </li>
               </ol>
            </nav>
         </div>
         <div class="col-3">
            <div class="text-center mb-n5"> <img src="../assets/images/breadcrumb/ChatBc.png" alt="modernize-img"
                  class="img-fluid mb-n4"> </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-12">
      <form action="{{#if disciplina}}/disciplinas/{{disciplina.id}}/atualizacao{{else}}/disciplinas/novo{{/if}}" method="post">
         <div class="card">
            <div class="px-4 py-3 border-bottom">
               <h4 class="card-title mb-0">{{#if disciplina}}Atualização de{{else}}Cadastro de Novo{{/if}} Disciplina</h4>
            </div>
            <div class="card-body p-4 border-bottom">

               {{#if flashErrors}}
               <div class='alert alert-danger'>
                  {{#each flashErrors}}
                  <p style="margin: 0; padding: 0;"> {{message}} </p>
                  {{/each}}
               </div>
               {{/if}}

               {{#if flashErrors}}
               <div class='alert alert-danger'>
                  {{#each flashErrors}}
                  {{#each messages}}
                  <p style="margin: 0; padding: 0;"> {{this}} </p>
                  {{/each}}
                  {{/each}}
               </div>
               {{/if}}

               <h5 class="fs-4 fw-semibold mb-4">Informações da Disciplina</h5>
               <div class="row">
                  <div class="col-lg-6">
                     <div class="mb-4">
                        <label class="form-label">Nome da Disciplina</label>
                        <div class="input-group">
                           <span class="input-group-text px-6" id="basic-addon1">
                              <i class="ti ti-book fs-6"></i> </span>
                           <input type="text" class="form-control ps-2" name="nome"
                              value="{{setValue old.nome disciplina.nome}}"
                              placeholder="Informe o nome da disciplina">
                        </div>
                        {{#each (error-messages errors 'nome')}}
                        <p class="text-danger" style="margin: 0; padding: 0;"><small>{{this}}</small></p>
                        {{/each}}
                     </div>
                     <div>
                        <label class="form-label">Código da Disciplina</label>
                        <div class="input-group">
                           <span class="input-group-text px-6" id="basic-addon1">
                              <i class="ti ti-code fs-6"></i> </span>
                           <input type="text" class="form-control ps-2" name="codigo"
                              value="{{setValue old.codigo disciplina.codigo}}"
                              placeholder="Informe o código da disciplina">
                        </div>
                        {{#each (error-messages errors 'codigo')}}
                        <p class="text-danger" style="margin: 0; padding: 0;"><small>{{this}}</small></p>
                        {{/each}}
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="mb-4">
                        <label class="form-label">Carga Horária</label>
                        <div class="input-group">
                           <span class="input-group-text px-6" id="basic-addon1">
                              <i class="ti ti-clock fs-6"></i> </span>
                           <input type="number" class="form-control ps-2" name="cargaHoraria"
                              value="{{setValue old.cargaHoraria disciplina.cargaHoraria}}"
                              placeholder="Informe a carga horária">
                        </div>
                        {{#each (error-messages errors 'cargaHoraria')}}
                        <p class="text-danger" style="margin: 0; padding: 0;"><small>{{this}}</small></p>
                        {{/each}}
                     </div>
                  </div>
               </div>
            </div>
            <div class="card-body p-4">
               <div class="row">
                  <div class="col-12">
                     <div class="d-flex align-items-center gap-3">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <button type="button" class="btn bg-danger-subtle text-danger">Cancelar</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
{{/inline}}
{{/main}}